.container {
    width: 20rem;
    min-height: 40rem;
    border-radius: 1rem;
    background-color: var(--card-blue);
}

.header {
    background-color: var(--profile-blue);
    padding: 2rem;
    border-radius: 1rem;

    img {
        max-width: 8rem;
        border: 0.25rem solid var(--white);
        border-radius: 50%;
    }

    p {
        padding: 3rem 0;
        font-size: 3rem;
        font-weight: 300;
    }
}

.timePeriod {
    padding: 2rem;
    

    button {
        margin: 0;
        padding: 0.75rem 0;
        color: var(--pale-blue);
        background: none;
        border: none;
        font-size: 1.25rem;
        font-weight: 300;
        display: block;
    }
}
