.container {
    width: 18rem;
    height: 18rem;
    border-radius: 1rem;
    background-color: var(--card-blue);
    position: relative;   
}


.header {
    text-align: right;
    padding: 0 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.work {
    background-color: var(--work-orange);
}

.play {
    background-color: var(--play-blue);
}

.study {
    background-color: var(--study-red);
}

.exercise {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--exercise-green);
}

.social {
    background-color: var(--social-violet);
}

.selfCare {
    background-color: var(--self-care-yellow);
}

.info {
    background-color: var(--card-blue);
    width: 18rem;
    padding: 2rem;
    position: absolute;
    top: 4rem;
    border-radius: 1rem;
}

.activity {
    font-size: 1.5rem;
}

.hours {
    padding-top: 2rem;
    font-size: 4rem;
    font-weight: 300;
}

.pastHours {
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
}

@media (max-width: 880px) {
    .container {
        width: 100%;
    }
    
    .header {
        width: 100%;
    }

    .info {
        width: 100%;
    }
}
