.container {
    min-width: 18rem;
    min-height: 40rem;
    max-height: 60rem;
    border-radius: 1rem;
    background-color: var(--card-blue);
}

.header {
    background-color: var(--profile-blue);
    padding: 2rem;
    border-radius: 1rem;
    flex-wrap: wrap;
    flex-direction: column;

    div {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    img {
        max-width: 9rem;
        border: 0.25rem solid var(--white);
        border-radius: 50%;
    }

    p {
        padding: 2rem 0;
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
    }
}

.timePeriod {
    padding: 2rem;
    
    button {
        margin: 0;
        padding: 0.75rem 0;
        color: var(--pale-blue);
        background: none;
        border: none;
        font-size: 1.25rem;
        font-weight: 300;
        display: block;
    }
}

.signInButton {
    height: 3rem;
    margin-right: 0;
    margin-bottom: 1rem;
    border-radius: 3rem;
    background: var(--button-blue);
    border: 0;
    padding: 0 1.5rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: var(--white);
    font-weight: bold;
  
    svg {
      width: 20px;
      height: 20px;
    }
  
    svg:first-child {
      margin-right: 1rem;
    }
  
    transition: filter 0.2s;
  
    &:hover {
      filter: brightness(0.8);
    }
  }

@media (max-width: 1280px) {
    .header {
      min-height: 32rem;

      img {
        margin-top: 3rem;
      }
      p {
        padding: 3rem 0;
      }
    }

    .timePeriod {
        padding-top: 4rem;

        button {
            padding-top: 2rem;
        }
    }
}

@media (max-width: 880px) {
    .container {
        width: 100%;
        min-height: 18rem;
    }
    
    .header {
        min-height: auto;
        display: flex;
        align-items: flex-end;
    
        img {
            margin-top: 0;
        }
    
        p {
            padding: 1rem;
            font-size: 2.5rem;
        }
    }
    
    .timePeriod {
        padding: 2rem;
        display: flex;
        justify-content: space-evenly;
    
        button {
            padding-top: 1rem;
        }
    }
}

@media (max-width: 420px) {
    .header {
      display: block;

      p {
        font-size: 2rem;
      }
    }
  }