
.container {
    display: flex;
    gap: 2rem;
    padding: 6rem 2rem;
  }
  
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

  
@media (max-width: 880px) {
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 6rem;
  }

  .cardContainer {
    flex-direction: column;
    margin: 0;
  }
}

@media (max-width: 460px) {
  .container {
    padding: 2rem;
  }
}